<script type="module" async src="{{ site.baseurl }}mods/render.js"></script>
<script type="text/javascript">
 window.onload = () => {
   let symbolName = '{{ site.modelMeshName}}';
   let modelURL = '{{ site.modelUrl}}';
   let ref = 'canv';
   renderModel(symbolName,modelURL,ref);
 }
</script>