<script type="module" async src="{{ site.baseurl }}mods/render.js"></script>
<script type="text/javascript">
 window.onload = () => {
   let symbolName = 'Star';
   let modelURL = 'https://angeldollface.art/doll-cdn/models/Star.glb';
   let ref = 'canv';
   renderModel(symbolName,modelURL,ref);
 }
</script>