<!DOCTYPE html>
<html>
 {% include 'partials/head.njk' %}
 <body>
  <div class="content">
   {% include 'partials/content.njk' %}
   {% include 'partials/work.njk'%}
  </div>
  {% include 'partials/spacer.njk' %}
  {% include 'partials/spacer.njk' %}
 </body>
</html>
